@{
    ViewData["Title"] = "Contato";
}

<br>
<address>
    <br>
    Rua dos bichinhos, 100<br />
    Alameda, MG-  98052-6399<br />
    <abbr title="Telefone">Telefone para contato:</abbr>
    (44) 3532-01095
</address>

<address>
    <strong>Envie um e-mail:</strong> <a href="isabella.orogieri@gmail.com">support@lovelyPet.com</a><br />

</address>
