@{
    ViewData["Title"] = "Sobre";
}

<br />
<h2>@ViewData["Title"]</h2>

<br />
<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div >
        <img src="~/images/fotosobre.jpg" alt="Sobre" class="img-responsive1" />

    </div>
    <p class="sobre">
        Uma Loja de artigos para pets, como acessorios, brinquedos e muitos outros produtos.

        Hoje, com várias lojas espalhadas pelo Brasil, nossa principal
        transação é a de afetos, num lugar que proporciona tantos encontros:
        de colaboradores, de clientes, de pets. Somos quem abastece a
        parte divertida do lar.

        Porque uma casa de verdade tem vida, tem amor.

        Tem pessoas, tem gente que cuida.

        Somos movidos por uma razão de ser. Por algo maior que nos motiva todos
        os dias. O que queremos de verdade é inspirar pessoas a se reconectar
        com a sua melhor natureza.
    </p>
    </body>
</html>
